[submodule "TenniBot/Tennibot_code"]
	path = TenniBot/Tennibot_code
	url = git@github.com:Loren3Ben/lorenProject_TenniBot_code.git
[submodule "TenniBot/Tennibot_modules"]
	path = TenniBot/Tennibot_modules
	url = git@github.com:Loren3Ben/lorenProject_Tennibot-models.git
